/* Rose A Conner - November 10, 2025 */

body {
    margin: 0;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
}

.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    color: white;
    padding: 16px;
    /* Fixed position */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav h1 {
    margin: 0;
    font-size: 28px;
}
.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav li {
    margin: 8px 0;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 18px
}

main {
    text-align: center;
}

table {
    margin: 0 auto;
    max-width: 800px;
}

/* Card */

.card {
    margin: 40px auto;
    border: none;
}

.card-title {
    color: #0d6efd;
}

.card img {
    height: 200px;
}

/* 720px */

@media (min-width: 720px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
    }

    .nav ul {
        flex-direction: row;
    }

    .nav li {
        margin: 0 20px;
    }
}